<h1>Writing a review</h1>

<p class="explanation">
Peer-review is a central mechanism by which communities of academic research
define quality and support their members in achieving that quality in their work. 
Researchers often put substantial effort into peer review even though it is
uncompensated and unacknowledge labor. Their motivation is to support the growth
of other scholars and to guide the priorities of their research communities. 
As a means of bootstrapping our community, standards for peer review are 
initially provided (below). But as our community matures, we will refine our values
and revise our standards for peer review. 
</p>
<p class="explanation">
</p>

<h2>Review guidelines</h2>
<p>
Reviews should be about one paragraph in length and they
should not take longer than 30 minutes to write (maybe a little longer the first
time). Sometimes it helps to have a 
quick read-through of a manuscript under review and then to go through again more 
carefully while writing the review. Within the one paragraph of your review, 
please do the following:</p>
<ul>
<li>In one sentence, <span class="bold">summarize the main point</span> of the
manuscript. Identify what genre the 
submission falls into (e.g. commentary, research proposal, reflection, or
special issue).</li>
<li><span class="bold">Explain what's working for you</span> in the manuscript. Where does it feel
relevant and connected to ideas we have been discussing? Where does the writing
feel clear? Where can you hear the author's voice? What's exciting?</li>
<li><span class="bold">Explain what's not working for you</span> yet. You don't need to critique the
manuscript sentence by sentence. Rather, try to summarize while giving specific
examples. For example, you might write, "The paragraphs sometimes feel
disconnected. Paragraph 2 ends by suggesting that we should replace teachers
with robots; I was surprised when Paragraph 3 began by arguing about who makes
the best pizza in Buffalo."
<li>If you are recommending major revisions, suggest how the authors might get
started. For example, if you found the manuscript biased and one-sided, suggest
an argument (or even a reference) which the authors might want to consider.</li>
</ul>

<h2>Making a recommendation</h2>
<p>In addition to your written review, you are asked to recommend a decision for
the manuscript. In making a recommendation, consider whether you
feel the manuscript is of high quality and ought to be read and discussed by the
class. The options available are:</p>
<ul>
<li><span class="bold">Accept</span>: The manuscript should be published in its current state.</li>
<li><span class="bold">Minor revisions</span>: The manuscript should be published, but it needs some
touch-ups. These might be grammatical, stylistic, or related to the content. For
example, you might suggest minor revisions because you would like to invite the
author to consider another perspective in one of their claims.</li>
<li><span class="bold">Major revisions</span>: The manuscript is promising, but
it needs substantial reworking. If you find the manuscript confusing and hard to
follow, consider which parts of the U-shaped structure of arguement it might be
missing. Here, your written review is particularly
important in suggesting the direction for revision. Keep in mind that some
authors may choose not to revise a manuscript if their reviewers feel it needs a
large amount of revision.</li>
<li><span class="bold">Reject</span>: A rejected manuscript won't be published by the journal and can't be
resubmitted. While rejections are common in prestigious journals, they will be
very rare or nonexistent in this journal :)</li>
</ul>
<p>
The journal editor reads all the reviews and makes a final decision on a
manuscript. If the editor feels a review is unhelpful or unsupportive, he may
request that the reviewer update the review. Should you receive a review which
you find hurtful or offensive, please contact the editor. We need to support
each others' growth, but we also need to be gentle in our feedback. 
</p>
<p>
You will remain a reviewer for a manuscript through its entire lifecycle. So if
a manuscript is returned for major revisions, you will be asked to review again 
when the author(s) resubmit a new version. If a manuscript has sufficiently
minor revisions, the editor may decide to accept a revision without sending it
again to reviewers. Some manuscripts may go through several iterations of
reviews.
</p>

<h2>Reviewing instructions for Special Issue 1: Formations</h2>
<p>
The first special issue of the journal solicited open-ended, narrative
manuscripts focused on "your own journey into graduate school and your
relationship with ideas which inspire you or those which oppress you."
In reviewing these submissions, keep in mind that diverse identities and
experiences may be best represented by unconventional structure and voice. 
Your focus as a reviewer should be on trying to understand what the manuscript
is trying to be (and giving feedback aimed at helping it best achieve its aim) 
rather than suggesting it should be something else. 
</p>
