#menu {
 background-color: grey;
 display: flex;
}
.menu-left {
	flex: 1;
	display: flex;
}
.menu-right {
	display: flex;
}
.menu-item {
	padding: 10px;
}
#menu a {
	color: white;
	text-decoration: none;
}
#menu .menu-item.clickable:hover {
  background-color: #999;
}
#menu .menu-item.current {
  background-color: #bbb;
}
#menu .menu-item.current a {
  color: black;
}
/* SUBMENU */
#submenu {
  background-color: #bbb;
	display: flex;
}
#submenu a {
	color: white;
	text-decoration: none;
}
