{% extends "reviewer/manuscript_revision.html" %}

{% block head %}
  {{ form.media }}
{% endblock %}

{% block manuscript_divider %}
<div class="manuscript-revision-tabs">
  <div class="tab">
    <a href="{% url 'reviewer:show_revision' manuscript.pk revision.revision_number %}">Text</a>
  </div>
  <div class="tab current">
    Review
  </div>
</div>
{% endblock %}

{% block manuscript_text %}
  {% include "reviewer/partials/instructions.html" %}

  <hr>
  <form method="post" action="{% url 'reviewer:edit_review' manuscript.pk revision.revision_number %}">
    {% csrf_token %}
    {{form.text}}
    <div>
      <label for="{{form.recommendation.id_for_label}}">Recommendation</label>
      {{form.recommendation}}
    </div>
	<input type="submit" value="Save">
    <a href="{% url 'reviewer:show_review' manuscript.pk revision.revision_number %}">
      <button type="button">Cancel</button>
    </a>
  </form>
{% endblock %}
