{% extends "reviewer/base.html" %}

{% block content %}
<div id="manuscript-layout">
  <div class="manuscript-sidebar">
  {% block sidebar %}
    {% with current_revision=revision %}
      {% for revision in visible_revisions %}
        {% include "reviewer/partials/revision_summary.html" %}
      {% endfor %}
    {% endwith %}
  {% endblock %}
  </div>
  <div class="manuscript-content">
    {% block manuscript_content %}
    <div class="manuscript-header">
      {% block manuscript_header %}
      <h1>{{revision.title}}</h1>
      <p class="explanation">
      {% if review.status == "ASSIGNED" %}
          Your review is due {{review_deadline}}.</p>
      {% elif review.status == "SUBMITTED" %}
          Your review has been submitted and is awaiting an editorial decision.
      {% elif review.status == "COMPLETE" %}
          The editor has made a decision on this manuscript. Thank you for your review.
      {% elif review.status == "EXPIRED" %}
          The deadline has passed for this review. 
          {% if review.revision.status == "PENDING" %}
            Please contact the editor to request an extension.
          {% endif %}
      {% elif review.status == "WITHDRAWN" %}
         The manuscript author withdrew their piece. No review is necessary. 
      {% elif review.status == "EDIT_REQUESTED" %}
         You submitted your review, but the editor requested edits. 
         Please resubmit your review once you have made the requested changes.
      {% endif %}
      <div class="manuscript-actions">
        {% block manuscript_actions %}
        {% endblock %}
      </div>
      {% endblock %}
    </div>
    {% block manuscript_divider %}
    <div class="manuscript-revision-tabs">
      <div class="tab current">
        Text
      </div>
    </div>
    {% endblock %}
    <div class="manuscript-text">
      {% block manuscript_text %}
        {{revision.text|safe}}
      {% endblock %}
    </div>
    {% endblock %}
  </div>
</div>
{% endblock %}
