{% extends "reviewer/manuscript_revision.html" %}

{% block manuscript_divider %}
<div class="manuscript-revision-tabs">
  <div class="tab">
    <a href="{% url 'reviewer:show_revision' manuscript.pk revision.revision_number %}">Text</a>
  </div>
  <div class="tab current">
    Review
  </div>
</div>
{% endblock %}

{% block manuscript_text %}
  {% include "reviewer/partials/instructions.html" %}
  {% if review.is_assigned %}
    <a href="{% url 'reviewer:edit_review' manuscript.pk revision.revision_number %}">
      <button>Edit review</button>
    </a>
  {% endif %}
  {% if review.can_submit %}
    <form method="post" action="{% url 'reviewer:show_review' manuscript.pk revision.revision_number %}">
      {% csrf_token %}
      <input type="submit" name="action" value="Submit">
    </form>

  {% endif %}
  <hr>
  {{review.text|safe}}
  <p class="decision">Recommendation: {{review.recommendation}}</p>
{% endblock %}
