{% extends "reviewer/manuscript_revision.html" %}

{% block manuscript_divider %}
<div class="manuscript-revision-tabs">
  <div class="tab">
    <a href="{% url 'reviewer:show_revision' manuscript.pk revision.revision_number %}">Text</a>
  </div>
  <div class="tab">
    <a href="{% url 'reviewer:show_review' manuscript.pk revision.revision_number %}">Review</a>
  </div>
  <div class="tab current">
    Instructions
  </div>
</div>
{% endblock %}

{% block manuscript_text %}
  {% include "reviewer/partials/instructions.html" %}
{% endblock %}

