{% extends "editor/base.html" %}

{% block content %}
<div id="main-content-container">
<h1>Reviews</h1>
<form method="get" action="{% url 'editor:list_reviews' %}">
  <input type="text" name="q">
  <input type="submit" value="Search by reviewer username">
</form>
<hr>
<div class="process-chart">
	<div class="process-chart-col">
		<div class="process-chart-cell cell-header">Assigned</div>
		{% for review in ASSIGNED %}
		  {% include "editor/partials/review_cell.html" %}
		{% endfor %}
	</div>
    <div class="process-chart-col">
		<div class="process-chart-cell cell-header">Submitted</div>
		{% for review in SUBMITTED %}
		  {% include "editor/partials/review_cell.html" %}
		{% endfor %}
	</div>
    <div class="process-chart-col">
		<div class="process-chart-cell cell-header">Complete</div>
		{% for review in COMPLETE %}
		  {% include "editor/partials/review_cell.html" %}
		{% endfor %}
	</div>
</div>
</div>
{% endblock %}



