{% extends "editor/base.html" %}

{% block content %}
<h1>Manuscripts</h1>
<form method="get" action="{% url 'editor:list_manuscripts' %}">
  <input type="text" name="q">
  <input type="submit" value="Search by author username">
</form>
<hr>
<div class="process-chart">
	<div class="process-chart-col">
		<div class="process-chart-cell cell-header">Unsubmitted</div>
		{% for manuscript in IN_PREPARATION %}
		  {% include "editor/partials/manuscript_cell.html" %}
		{% endfor %}
	</div><div class="process-chart-col">
		<div class="process-chart-cell cell-header">Pending</div>
		{% for manuscript in IN_SUBMISSION %}
		  {% include "editor/partials/manuscript_cell.html" %}
		{% endfor %}
	</div><div class="process-chart-col">
		<div class="process-chart-cell cell-header">Decided</div>
		{% for manuscript in DECIDED %}
		  {% include "editor/partials/manuscript_cell.html" %}
		{% endfor %}
	</div><div class="process-chart-col">
		<div class="process-chart-cell cell-header">Published</div>
		{% for manuscript in PUBLISHED %}
		  {% include "editor/partials/manuscript_cell.html" %}
		{% endfor %}
	</div>
</div>
{% endblock %}


