{% extends "public/base.html" %}

{% block content %}
<div id="main-content-container" class="journal-issue-container">
  <h1>LAI 615 Journal</h1>
  {% if issues %}
    {% for issue in issues %}
      <div class="journal-issue-summary">
        <h3><a href="{% url 'public:show_issue' issue.id %}">{{issue.title}}</a></h3>
        <p class="explanation">
          Volume {{issue.volume}}, Issue {{issue.number}}.
          Edited by {{editor_names}}.
        </p>
        <ul>
          {% for m in issue.manuscripts.all %}
            <li><span class="explanation">{{m.short_title}}</span> by {{m.author_names}}</li>
          {% endfor %}
        </ul>
      </div> 
    {% endfor %}
  {% else %}
	<p>No articles have been published yet in this journal.</p>
  {% endif %}
</div>
{% endblock %}
