<article class="process-chart-cell {{manuscript.revisions.last.status}}">
  <p class="title">
     <a href="{% url 'editor:show_manuscript' manuscript.id %}">{{manuscript.short_title}}</a>
  </p>
  <p>{{manuscript.author_names}}</p>
	<p>{{manuscript.status_message}}</p>
    <p>
      {% if manuscript.revisions.last.reviews.count %}
        Reviews:
        <ul>
        {% for review in manuscript.revisions.last.reviews.all %}
          <li>{{review.reviewer.first_name}} {{review.reviewer.last_name}} ({{review.status}})</li>
        {% endfor %}
        </ul>
      {% else %}
        No reviewers assigned.
      {% endif %}
    </p>
</article>

