{% extends "author/partials/manuscript_revision_detail.html" %}

{% block manuscript_text %}
<form method="post" action="{% url 'edit_revision' revision.manuscript_id revision.revision_number %}">
  {{ form.non_field_errors }}
  <div class="revision-form-title">
    {{form.title}}
  </div>
  {% csrf_token %}
	<input type="submit" value="Save">
  <a href="{% url 'show_revision' revision.manuscript_id revision.revision_number %}">
    <button type="button">Cancel</button>
  </a>
  <hr>
  {{form.text}}
</form>
{% endblock %}

{% block manuscript_header %}
{% endblock %}

{% block manuscript_actions %}
{% endblock %}

{% block manuscript_divider %}
{% endblock %}
