{% extends "author/manuscript_revision.html" %}

{% block sidebar %}
<article class="revision">
  <h2>Instructions for authors</h2>
</article>
{% endblock %}

{% block manuscript_content %}
<div style="max-width: 800px; padding: 8px;">
<h2>General instructions</h2>
<p>The LAI 615 Journal solicits manuscripts from authors which respond to course
readings and which more generally advance the community of scholarly practice we
are developing as a course. Each manuscript should fall into one of the
following genres:</p>
<ul>
<li><strong>Commentaries</strong> respond to, interpret, or critique another
text, whether that is an assigned reading, an article not assigned for class but
which is somehow relevant to our class conversation, a peer's published
manuscript, or a discussion which took place in class. Commentaries should
engage closely with the text under study, bringing up specific points. For
example, you might write a commentary explaining why you think a particular
article misses an important perspective.</li>
<li><strong>Research proposals</strong> propose a new research question, explaining why 
it would be important generally and within a specific field. 
For the purposes of this journal, a research proposal does not need to go to the
"bottom of the U" by discussing methods, potential results, or their analysis.
It is enough to focus on why the research would be interesting and valuable to a
particular community of researchers and/or practitioners, not how it might be
answered. For example, you might propose that we think about educational
technology not as a tool under the control of schools and teachers, but rather
as a force taking over schools despite the desires of teachers.</li>
<li><strong>Reflections</strong> consider theoretical ideas or empirical
findings in the context of your own experiences or in the context of communities
outside of academia. Reflections engage in praxis, showing how theoretical ideas
might impact and be important to contexts beyond academic research. For example,
you might write a reflection explaining how teaching strategies proposed in an
article might have worked in your own classroom.</li>
<li><strong>Special issue submissions</strong> have their own specific requirements for
formatting.</li>
</ul>

<p>Submission guidelines:</p>
<ul>
<li>Manuscripts should be at least 500 words and no more than 1000 words. </li>
<li>Manuscripts should be formatted in APA style. A reference list should be included at the end.</li>
<li>Manuscripts should be clearly and thoughtfully-written. It is not necessary to
  write in an "academic voice" (e.g. fussy, haughty, disembodied, and
  roundabout), but the manuscript's voice should feel intentional, considered,
  and self-aware.</li>
<li>Manuscripts should generally conform to the U-shaped structure of academic
  argumentation (introduced in Week 3). The mansucript might not have separate
  sections (e.g. "Introduction," "Background," ...), but it should do the work
  these sections typically accomplish. If your manuscript deviates from this structure
  it should do so with good reason, knowing that it may surprise readers.</li>
<li>Manuscripts with multiple authors are welcome; co-authored manuscripts count
  as a publication for each author.</li>
</ul>
<p>Manuscripts undergo a process of peer-review before they are accepted and
published. Guided by the journal editor, your peers are responsible for what
should be accepted. Over the semester we will refine our community standards for
what ought to be accepted. Reviewers will be guided by the following questions:</p>
<ul>
<li>Could you easily summarize the main point of this manuscript? </li>
<li>Does the manuscript feel relevant, appropriate, and connected to our course
  discussion? Will our readers be able to make sense of this?</li>
<li>Does the writing feel clear? Could you hear the voice? </li>
<li>Does the manuscript make specific points? Do you find them persuasive?</li>
</ul>
<h2>Special issues</h2>
<p>Special issues function as lenses drawing our attention and discourse toward
important issues. Later in the course, you will be invited to develop a theme
for a special issue.</p>
<h3>Issue 1: Special issue on formations.</h3>
<p>This issue considers our own formation as scholars: the stories of how we got
here, and our ideas about who we are and the kind of work we intend to do. Our
past experience shapes, in many cases, the ideas which feel important to us; but
we also rely on ideas to notice, frame, and interpret our stories. 
Thus autobiography is praxis; telling our stories is a form of theory-building
(Villanueva, 1993, p. xvii).</p>
<p>However, we are not free to live any stories we want: the world judges us and
defines us. "Formation" also refers to cultural structures which try to tell our
stories for us. For example, Omi and Winant (2001) define racial formations as 
"the sociohistorical process by which racial categories are created, inhabited,
transformed, and destroyed" (p. 124). Like race, cultural formations of gender,
social class, language, sexuality, nationality, ability, age--and
others--precede our storytelling and shape how our audience will hear our
stories, if they can be heard at all. 
Sometimes storytelling is a form of resistance: talking back to these formations
and trying to change them. </p>
<p>This issue solicits manuscripts about your own journey into graduate school and
your relationship with ideas which inspire you or those which oppress you. 
Manuscripts are expected to conform to the general author guidelines, except the
structure will likely be narrative rather than organized as an academic
argument. Manuscripts are expected to refer to specific ideas of interest,
including references, but they need not relate to readings assigned in LAI 615. 
All authors are warmly invited, but not required, to submit. The deadline for
submissions to this special issue is Tuesday, September 7, 2021.</p>

<h3>References</h3>
<p>Omi, M., & Winant, H. (2001). Racial formation. In P. Essed & D. T. Goldberg
(Eds.), <em>Race critical theories: Text and context</em> (pp. 123–145). Blackwell.</p>
<p>Villanueva Jr, V. (1993). Prologue. In <em>Bootstraps: From an American Academic of Color. </em>
National Council of Teachers of English. (pp. xi-xviii). </p>

</div>
{% endblock %}
