{% extends "author/base.html" %}

{% block content %}
<div id="manuscript-layout">
  <div class="manuscript-sidebar">
  {% block sidebar %}
    {% with current_revision=revision %}
      {% for revision in manuscript.revisions.all %}
        {% include "author/partials/revision_summary.html" %}
      {% endfor %}
    {% endwith %}
  {% endblock %}
  </div>
  <div class="manuscript-content">
    <div class="manuscript-header">
      {% block manuscript_header %}
      <h1>{{revision.title}}</h1>
      <p>by {{manuscript.author_names}}</p>
      <div class="manuscript-actions">
        {% block manuscript_actions %}
          {% if revision.can_edit %}
          <a href="{% url 'author:edit_revision' revision.manuscript_id revision.revision_number %}">
            <button>Edit</button>
          </a>
          {% endif %}
          <form class="actions" method="post" 
             action="{% url 'author:show_revision' revision.manuscript_id revision.revision_number %}">
            {% csrf_token %}
            {% if revision.can_submit %}
              <input type="submit" name="action" value="Submit">
            {% endif %}
            {% if revision.can_withdraw %}
              <input type="submit" name="action" value="Withdraw">
            {% endif %}
            {% if revision.can_create_new_revision %}
              <input type="submit" name="action" value="Create a new revision">
            {% endif %}
          </form>
        {% endblock %}
      </div>
      {% endblock %}
    </div>
    {% block manuscript_divider %}
    <hr>
    {% endblock %}
    <div class="manuscript-text">
      {% block manuscript_text %}
        {{revision.text|safe}}
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}
