{% extends "author/manuscript_revision.html" %}

{% block head %}
  {{ form.media }}
{% endblock %}

{% block sidebar %}
<h1> New Manuscript</h1>
{% endblock %}

{% block manuscript_header %}
{% endblock %}

{% block manuscript_divider %}
{% endblock %}

{% block manuscript_text %}
<form method="post" action="{% url 'author:new_manuscript' %}">
  <div class="revision-form-title">
    {{form.title}}
  </div>
  <input type="submit" value="Save">
  {% csrf_token %}
  <hr>
  {{form.text}}
  <div>
    <label for="{{form.additional_authors.id_for_label}}"><h3>Additional authors</h3></label>
    <p>
      {{form.additional_authors}}
    <p>
  </div>
</form>
{% endblock %}
